# dont forget to change the name of this file to config.py and fill in the values ;)

MYSQL_HOST = 'HERE_YOUR_HOST'
MYSQL_USER = 'HERE_YOUR_USERNAME'
MYSQL_PASSWORD = 'HERE_YOUR_PASSWORD'
MYSQL_DB = 'HERE_YOUR_DB_NAME'
MYSQL_PORT = 3306
MYSQL_CHARSET = 'utf8mb4'

REDIS_HOST = 'HOST_REDIS'
REDIS_PORT = 6379
REDIS_DB = 9999
REDIS_PASSWORD = ""
REDIS_USERNAME = ""

PUBLIC_KEY = "VERY_VERY_SECRET_KEY"

BOT_TOKEN = "HERE_YOUR_BOT_TOKEN"

